.form__input {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    border-bottom: 2px solid #cccccc;
    width: 358px;
    color: #cccccc;
    padding-bottom: 13px;
    margin-bottom: 30px;
    background: #000000;
}