.elements {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 51px;
    margin-bottom: 67px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}
@media screen and (max-width: 768px) {
    .elements {
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 36px;
        margin-bottom: 48px;
    }
}