.popup {
    height: 0;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    z-index: 3;
    transition: 1s;
    overflow: hidden;
}
